<!DOCTYPE html>

<html lang="english">
  <head>
    <title>Grammar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <link href="../styles/grammar.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div class="grammar-container">
        <link href="../styles/menu-mobile.css" rel="stylesheet" /> 
        <div class="grammar-page">
          <div class="header-mobile">
            <div class="menu">
              <input id="toggle" type="checkbox">
            <label class="toggle-container" for="toggle">
              <span class="button button-toggle"></span>
            </label>
            <nav class="nav">
              <a class="nav-item" href="./index.html">Home</a>
              <a class="nav-item" href="./vocabulary.html">Vocabulary</a>
              <a class="nav-item active" href="./grammar.html">Grammar</a>
              <a class="nav-item" href="./tests.html">Tests</a>
            </nav>
            </div>
            <span class="logo">Freenglish</span>
          </div>
          <div class="header">
            <span class="logo">Freenglish</span>
            <div class="menu">
              <a class="home" href="./index.html">Home</a>
              <a class="vocabulary" href="./vocabulary.html">Vocabulary</a>
              <a class="grammar" href="./grammar.html">Grammar</a>
              <a class="tests" href="./tests.html">Tests</a>
            </div>
          </div>
          <img
            src="../img/ellipses.svg"
            class="ellipses"
          />
          <div class="title">
            <span class="text">Grammar</span>
            <span class="description">
              Learn grammar from tables, schemes and examples
            </span>
          </div>
          <div class="topics">
            <div class="item verbtobe">
              <div class="logo">
                <span class="text1">
                  <span>Verb</span>
                  <br />
                  <span>to be</span>
                </span>
                <span class="text2">am-is-are</span>
              </div>
              <span class="descr">
                <span>Verb to be</span>
                <br />
                <span>(am, is, are) –</span>
                <br />
                <span>With Usage and Examples</span>
              </span>
            </div>
            <div class="item modalcan">
              <div class="logo">
                <span class="text1">
                  <span>Modal</span>
                  <br />
                  <span>“Can”</span>
                </span>
              </div>
              <span class="descr">
                Modal “CAN” – With Usage and Examples
              </span>
            </div>
            <div class="item pressimple">
              <div class="logo">
                <span class="text1">
                  <span>Present</span>
                  <br />
                  <span>Simple</span>
                </span>
                <span class="text2">do-does</span>
              </div>
              <span class="descr">
                <span>Present Simple</span>
                <br />
                <span>– With Usage and Examples</span>
              </span>
            </div>
            <div class="item prescontin">
              <div class="logo">
                <span class="text1">
                  <span>Present</span>
                  <br />
                  <span>Contin.</span>
                </span>
                <span class="text2">
                  <span>am-is-are</span>
                  <br />
                  <span>+ Ving</span>
                </span>
              </div>
              <span class="descr">
                Present Continuous – With Usage and Examples
              </span>
            </div>
            <div class="item futuresimple">
              <div class="logo">
                <span class="text1">
                  <span>Future</span>
                  <br />
                  <span>Simple</span>
                </span>
                <span class="text2">will</span>
              </div>
              <span class="descr">
                Future Simple – With Usage and Examples
              </span>
            </div>
            <div class="item pastsimple">
              <div class="logo">
                <span class="text1">
                  <span>Past</span>
                  <br />
                  <span>Simple</span>
                </span>
                <span class="text2">did</span>
              </div>
              <span class="descr">
                Past Simple – With Usage and Examples
              </span>
            </div>
            <div class="item pastcontin">
              <div class="logo">
                <span class="text1">
                  <span>Past</span>
                  <br />
                  <span>Contin.</span>
                </span>
                <span class="text2">
                  <span>was-were</span>
                  <br />
                  <span>+ Ving</span>
                </span>
              </div>
              <span class="descr">
                Past Continuous – With Usage and Examples
              </span>
            </div>
            <div class="item presperf">
              <div class="logo">
                <span class="text1">
                  <span>Present</span>
                  <br />
                  <span>Perfect</span>
                </span>
                <span class="text2">have-has + V3</span>
              </div>
              <span class="descr">
                Present Perfect – With Usage and Examples
              </span>
            </div>
            <div class="item begoingto">
                <div class="logo">
                  <span class="text1">
                    <span>“Be</span>
                    <br />
                    <span>going</span>
                    <br />
                    <span>to”</span>
                  </span>
                </div>
                <span class="descr">
                  <span>“Be going to” Future Tense –</span>
                  <br />
                  <span>With Usage and Examples</span>
                </span>
            </div>
          </div>
          <div class="footer">
            <div class="side-info">
              <span class="logo">Freenglish</span>
              <span class="slogan">
                Improve your English with us!
              </span>
              <img
                src="../img/socnet.svg"
                class="socnet"
              />
              <span class="download">Download for:</span>
              <div class="mob-app">
                <img
                src="../img/googleplayicon.png"
                class="googleplay"
                />
                <img
                  src="../img/appstoreicon.png"
                  class="appstore"
                />
            </div>
            </div>
            <div class="sections">
              <div class="service-section">
                <span class="service">Service</span>
                <span class="download">Download</span>
                <span class="vocabulary">Vocabulary</span>
                <span class="grammar">Grammar</span>
                <span class="tests">Tests</span>
                <span class="resourses">Resourses</span>
              </div>
              <div class="company-section">
                <span class="company">Company</span>
                <span class="about-us">FAQ</span>
                <span class="faq">About Us</span>
                <span class="support">Support</span>
              </div>
              <div class="privacy-section">
                <span class="privacy">Privacy</span>
                <span class="terms-of-use">
                  <span>Terms of Use</span>
                  <br />
                  <span></span>
                </span>
              </div>
            </div>
          </div>
          <div class="footer-mobile">
            <img
              src="../img/socnet.svg"
              class="socnet"
            />
            <span class="logo">Freenglish</span>
            
            <span class="slogan">
              Improve your English with us!
            </span>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
