<!DOCTYPE html>

<html lang="english">
  <head>
    <title>Freenglish</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <link href="../styles/main-page.css" rel="stylesheet" />
  </head>
  <body>
    <div>
      <div class="main-page-container">
        <div class="header-mobile">
          <input id="toggle" type="checkbox">
          <label class="toggle-container" for="toggle">
            <span class="button button-toggle"></span>
          </label>
          <nav class="nav">
            <div class="nav-item"><a class="active" href="./index.html">Home</a></div>
            <div class="nav-item"><a href="./vocabulary.html">Vocabulary</a></div>
            <div class="nav-item"><a href="./grammar.html">Grammar</a></div>
            <div class="nav-item"><a href="./tests.html">Tests</a></div>
          </nav>
        </div>
        <div class="main-page">
          <div class="header">
            <div class="menu">
              <a class="home" href="./index.html">Home</a>
              <a class="vocabulary" href="./vocabulary.html">Vocabulary</a>
              <a class="grammar" href="./grammar.html">Grammar</a>
              <a class="tests" href="./tests.html">Tests</a>
            </div>
          </div>
          <div class="banner">
            <img
              src="../img/banner-dotted-curve-mobile.svg"
              class="curve-mob"
            />
            <img
              src="../img/banner-bg-curve-mobile.svg"
              class="bg-add"
            />
            <div class="bg"></div>
            <span class="logo">Freenglish</span>
            <span class="slogan1">learn english for free</span>
            <span class="slogan2">anytime, anywhere!</span>
            <a class="btn" href="./vocabulary.html">
              <div class="shadow"></div>
              <span class="text">Start studying</span>
            </a>
            <img
              src="../img/main_illustration.png"
              class="illustr"
            />
          </div>
          <div class="welcome">
            <div class="pink-box"></div>
            <span class="text">
              <span class="text1">Welcome to</span>
              <span class="text2">Freenglish!</span>
            </span>
            <div class="ellipses">
              <img
                src="../img/ellipse_big.svg"
                class="big"
              />
              <img
                src="../img/ellipse_medium.svg"
                class="medium"
              />
              <img
                src="../img/ellipse_small.svg"
                class="small"
              />
            </div>
            <span class="description">
              Here you can improve your English every day with the help of
              theoretical material, as well as tests, puzzles and quizzes
            </span>
          </div>
          <div class="sections">
            <div class="vocabulary">
              <a class="btn" href="./vocabulary.html">
                <div class="border"></div>
                <span class="explore">Explore</span>
              </a>
              <span class="description">
                Learn new words to improve your vocabulary to help you
                communicate well in English.
              </span>
              <span class="title">Vocabulary</span>
              <img
                src="../img/voc_icon.png"
                class="icon"
              />
            </div>
            <div class="grammar">
              <a class="btn" href="./grammar.html">
                <div class="border"></div>
                <span class="explore" >Explore</span>
              </a>
              <span class="description">
                Revise and practise your grammar to improve your language level.
              </span>
              <span class="title">Grammar</span>
              <img
                src="../img/gram_icon.png"
                class="icon"
              />
            </div>
            <div class="tests">
              <a class="btn" href="./tests.html">
                <div class="border"></div>
                <span class="explore">Explore</span>
              </a>
              <span class="description">
                Practise your reading, writing, listening and speaking skills at
                your level.
              </span>
              <span class="title">Tests</span>
              <img
                src="../img/test_icon.png"
                class="icon"
              />
            </div>
          </div>
          <div class="mobile-app">
            <img class="curve" />
            <span class="study">Study</span>
            <div class="green-box"></div>
            <span class="slogan">
              <span class="text1">ANY</span>
              <span class="text2">
                <span>TIME</span>
                <br />
              </span>
              <span class="text3">ANY</span>
              <span class="text4">
                <span>WHERE</span>
                <br />
              </span>
            </span>
            <span class="description">
              Download the mobile application to have constant access to the
              service
            </span>
            <img
              src="../img/googleplayicon.png"
              class="googleplay"
            />
            <img
              src="../img/appstoreicon.png"
              class="appstore"
            />
            <img
              src="../img/phone_illustration.png"
              class="illustr"
            />
          </div>
          <div class="call-to-action">
            <div class="pink-box"></div>
            <span class="slogan">Make progress with us!</span>
            <span class="description">
              Freenglish will do everything you need to achieve your goals in
              learning English
            </span>
            <a class="btn" href="./vocabulary.html">
              <div class="bg"></div>
              <span class="text">Start studying</span>
            </a>
          </div>    
          <div class="footer">
            <span class="logo">Freenglish</span>
            <span class="slogan">
              Improve your English with us!
            </span>
            <img
              src="../img/socnet.svg"
              class="socnet"
            />
            <span class="download">Download for:</span>
            <img
              src="../img/googleplayicon.png"
              class="googleplay"
            />
            <img
              src="../img/appstoreicon.png"
              class="appstore"
            />
            <div class="service-section">
              <span class="service">Service</span>
              <span class="download">Download</span>
              <span class="vocabulary">Vocabulary</span>
              <span class="grammar">Grammar</span>
              <span class="tests">Tests</span>
              <span class="resourses">Resourses</span>
            </div>
            <div class="company-section">
              <span class="company">Company</span>
              <span class="about-us">FAQ</span>
              <span class="faq">About Us</span>
              <span class="support">Support</span>
            </div>
            <div class="privacy-section">
              <span class="privacy">Privacy</span>
              <span class="terms-of-use">
                <span>Terms of Use</span>
                <br />
                <span></span>
              </span>
            </div>
          </div>
          <div class="footer-mobile">
            <div class="bg"></div>
            <span class="slogan">
              Improve your English with us!
            </span>
            <span class="logo">Freenglish</span>
            <img
              src="../img/socnet.svg"
              class="socnet"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
