.tests-container {
  min-height: 100vh;
}

.tests-page {
  width: 1440px;
  height: 1580px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1440px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-color: transparent;
  background-color: white;
}

.tests-page .header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
  background-color: #314dca;
  z-index: 5;
}

.tests-page .header .menu {
  top: 42.5px;
  left: 754px;
  width: 437px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: transparent;
}

.tests-page .header .menu .home {
  color: white;
  height: auto;
  margin: 0 56px 0 0;
  font-size: 18px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .header .menu .vocabulary {
  color: white;
  height: auto;
  margin: 0 56px 0 0;
  font-size: 18px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .header .menu .grammar {
  color: white;
  height: auto;
  margin: 0 56px 0 0;
  font-size: 18px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .header .menu .tests {
  color: #ff5e95;
  height: auto;
  font-size: 18px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .header .logo {
  top: 25.5px;
  left: 249px;
  color: white;
  width: 209px;
  height: auto;
  position: absolute;
  font-size: 40px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .ellipses {
  top: 80px;
  left: 583px;
  width: 274;
  height: 129;
  position: absolute;
  z-index: 4;
}

.tests-page .title {
  top: 200px;
  left: 382px;
  width: 677px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
  z-index: 3;
}

.tests-page .title .slogan {
  top: 97px;
  left: 0px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .title .text {
  top: 0px;
  left: 261px;
  color: rgba(34, 34, 34, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .topics {
  top: 460.6px;
  left: 174px;
  width: 1090px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
  z-index: 2;
}

.tests-page .topics .forschools-section {
  top: 200px;
  left: 75.1px;
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
}

.tests-page .topics .forschools-section .ellipse {
  width: 220px;
  height: 220px;
  border: 2.5px solid #314DCA;
  border-radius: 50%;
  position: absolute;
}

.tests-page .topics .forschools-section .text {
  top: 64px;
  left: 0px;
  color: #4bcd5c;
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 900;
  line-height: 103.2%;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .topics .generaleng-section {
  top: 0px;
  left: 434.6px;
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
}

.tests-page .topics .generaleng-section .ellipse {
  width: 220px;
  height: 220px;
  border: 2.5px solid #314DCA;
  border-radius: 50%;
  position: absolute;
}

.tests-page .topics .generaleng-section .text {
  top: 64px;
  left: 0px;
  color: #ff5e95;
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 900;
  line-height: 103.2%;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .topics .businesseng-section {
  top: 200px;
  left: 794px;
  width: 220px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
}

.tests-page .topics .businesseng-section .ellipse {
  width: 220px;
  height: 220px;
  border: 2.5px solid #314DCA;
  border-radius: 50%;
  position: absolute;
}

.tests-page .topics .businesseng-section .text {
  top: 64px;
  left: 0px;
  color: #4bcd5c;
  right: 0px;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 45px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 900;
  line-height: 103.2%;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .topics .curve {
  top: 108.8px;
  width: 1090;
  height: 193;
  position: absolute;
}

.tests-page .footer {
  top: 1087px;
  left: 0px;
  width: 1440px;
  height: 493px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
  background-color: #314dca;
  z-index: 1;
}

.tests-page .footer .service-section {
  top: 127px;
  left: 712px;
  width: 84px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
}

.tests-page .footer .service-section .service {
  top: 0px;
  left: 0px;
  color: #ff5e95;
  height: auto;
  position: absolute;
  font-size: 18px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .service-section .download {
  top: 50px;
  left: 0px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 16px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .service-section .vocabulary {
  top: 90px;
  left: 0px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 16px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .service-section .grammar {
  top: 130px;
  left: 0px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 16px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .service-section .tests {
  top: 170px;
  left: 0px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 16px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .service-section .resourses {
  top: 210px;
  left: 0px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 16px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .company-section {
  top: 127px;
  left: 904px;
  width: 82px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
}

.tests-page .footer .company-section .company {
  top: 0px;
  left: 0px;
  color: #ff5e95;
  height: auto;
  position: absolute;
  font-size: 18px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .company-section .about-us {
  top: 90px;
  left: 0px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 16px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .company-section .faq {
  top: 50px;
  left: 0px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 16px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .company-section .support {
  top: 130px;
  left: 0px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 16px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .privacy-section {
  top: 127px;
  left: 1094px;
  width: 97px;
  height: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  border-color: transparent;
}

.tests-page .footer .privacy-section .privacy {
  top: 0px;
  left: 0px;
  color: #ff5e95;
  height: auto;
  position: absolute;
  font-size: 18px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 500;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .privacy-section .terms-of-use {
  top: 50px;
  left: 0px;
  color: white;
  width: 97px;
  height: auto;
  position: absolute;
  font-size: 16px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .slogan {
  top: 182px;
  left: 255px;
  color: #74d579;
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 18px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .download {
  top: 311px;
  left: 255px;
  color: white;
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 18px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}

.tests-page .footer .socnet {
  top: 241px;
  left: 255px;
  width: 194px;
  height: 34px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  border-color: transparent;
}

.tests-page .footer .googleplay {
  top: 348px;
  left: 255px;
  width: 187px;
  height: 52px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  border-color: transparent;
}

.tests-page .footer .appstore {
  top: 348px;
  left: 432px;
  width: 176px;
  height: 52px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  border-color: transparent;
}

.tests-page .footer .logo {
  top: 92px;
  left: 250px;
  color: white;
  height: auto;
  position: absolute;
  font-size: 72px;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
/*# sourceMappingURL=tests.css.map */